$primary-black: #000;
$primary-white: #fff;
$primary-grey-light: #f6f5f4;
$primary-cyan-dark: #2b788b;
$primary-cyan-light: #c3dce3;
$primary-grey-dark: #757575;
$primary-grey-light: #bababa;
$primary-golden-yellow: #deb47b;
