@import '@assets/styles';

.wrapper {
  @include flexbox(space-between, center, row);
  @include section(7% auto, 0);

  .loginForm {
    @include flexbox(space-between, flex-start, column);
    height: 300px;
    width: 600px;

    h1 {
      @include text($primary-black, 400, 3em, Dela Gothic One);
    }

    .inps {
      display: flex;
      flex-wrap: wrap;
      gap: 20px;
    }

    input {
      width: 200px;
    }

    .btn {
      @include text($primary-cyan-dark, 700, 1em, Montserrat);
      @include text-hover($primary-golden-yellow);

      @include primary-button(14px, 4px, transparent, $primary-cyan-dark);
      @include hover-button(transparent, $primary-golden-yellow, 1px);
    }
  }

  .image {
    @include preview-img(url(./assets/imgmanwithbook.png), 310px, 320px);
  }
}
