@import '../../styles/index.scss';

.preview {
  @include section(7% auto, 0);
  @include flexbox(space-between, center, row);

  &Content {
    @include flexbox(space-between, flex-start, column);
    max-width: 600px;
    gap: 20px;

    .textPlatform {
      @include text($primary-cyan-dark, 700, 16px, Montserrat);
    }

    h1 {
      @include text($primary-black, 600, 56px, Dela Gothic One);
    }

    .textAdditional {
      @include text($primary-grey-dark, 600, 18px, Montserrat);
    }

    .btn {
      @include primary-button(
        14px 17px,
        100px,
        $primary-cyan-dark,
        $primary-cyan-light,
        $primary-white,
        $primary-golden-yellow
      );
    }

    .statictics {
      max-width: 175px;

      .studentsCount {
        @include text($primary-black, 600, 40px, Dela Gothic One);
        text-align: center;
      }

      p span {
        color: rgba(43, 120, 139, 1);
      }

      .students {
        @include text(#585858, 600, 16px, Montserrat);
        text-align: center;
      }
    }
  }

  .manImg {
    @include preview-img(url(./assets/man.png), 550px, 400px);
  }
}

.learnBlock {
  width: 100%;
  background: $primary-white;

  &Width {
    @include section(auto, 7% 0);
    @include flexbox(space-between, center, row);

    .learnImg {
      @include preview-img(url(./assets/learn.svg), 680px, 430px);
    }

    .learnBlockContent {
      @include flexbox(space-between, flex-start, column);
      gap: 20px;
      max-width: 500px;

      h2 {
        @include text($primary-black, 600, 48px, Dela Gothic One);
      }

      p {
        @include text($primary-grey-dark, 600, 18px, Montserrat);
      }

      .wrapperIcons {
        display: flex;
        gap: 5%;

        .sprint {
          @include preview-img(url(./assets/img11.svg), 130px, 145px);
        }

        .tasks {
          @include preview-img(url(./assets/ing10.svg), 172px, 145px);
        }
      }
    }
  }
}

.knowledgeBlock {
  @include section(7% auto, 0);
  @include flexbox(space-between, flex-start, row);

  &Content {
    @include flexbox(space-between, flex-start, column);
    max-width: 470px;
    gap: 20px;

    h2 {
      @include text($primary-black, 600, 48px, Dela Gothic One);
    }

    p {
      @include text($primary-grey-dark, 600, 18px, Montserrat);
    }

    .bookBtn {
      @include primary-button(
        14px 17px,
        100px,
        $primary-cyan-dark,
        $primary-cyan-light,
        $primary-white,
        $primary-golden-yellow
      );
    }
  }

  .knowledgeImg {
    @include preview-img(url(./assets/book.svg), 580px, 480px);
  }
}

.watchStatisticsBlock {
  width: 100%;
  background: $primary-white;

  &Width {
    @include flexbox(space-between, center, row);
    @include section(auto, 7% 0);

    .staticticsImg {
      @include preview-img(url(./assets/manaNDGIRL.svg), 580px, 410px);
    }

    .watchStatisticsBlockContent {
      @include flexbox(space-between, flex-start, column);
      max-width: 470px;
      gap: 20px;

      h2 {
        @include text($primary-black, 600, 48px, Dela Gothic One);
      }

      p {
        @include text($primary-grey-dark, 600, 18px, Montserrat);
      }

      .bookBtn {
        @include primary-button(
          14px 17px,
          100px,
          $primary-cyan-dark,
          $primary-cyan-light,
          $primary-white,
          $primary-golden-yellow
        );
      }
    }
  }
}
