@import '../../styles/index.scss';

.preview {
  @include flexbox(space-between, center, row);
  max-width: 1200px;
  margin: 7% auto;

  .previewContent {
    @include flexbox(space-between, start, column);
    max-width: 600px;
    height: 500px;
  }

  .textPlatform {
    font: 700 16px 'Montserrat';
    color: $primary-cyan-dark;
  }

  h1 {
    font: 600 56px 'Dela Gothic One';
    color: $primary-black;
  }

  .textAdditional {
    font: 600 18px 'Montserrat';
    color: $primary-grey-dark;
  }

  .btn {
    @include primary-button(
      14px 17px,
      100px,
      $primary-cyan-dark,
      $primary-cyan-light,
      $primary-white,
      $primary-golden-yellow
    );
  }

  .statictics {
    max-width: 175px;

    .studentsCount {
      font: 600 40px 'Dela Gothic One';
      color: $primary-black;
      text-align: center;
    }

    p span {
      color: rgba(43, 120, 139, 1);
    }

    .students {
      font: 600 16px 'Montserrat';
      color: #585858;
      text-align: center;
    }
  }

  .manImg {
    @include preview-img(url(./assets/man.png), 550px, 400px);
  }
}

.learnBlock {
  width: 100%;
  background: $primary-white;

  .learnBlockWidth {
    @include flexbox(space-between, start, row);
    max-width: 1200px;
    margin: 0 auto;
    padding: 7% 0;

    .learnImg {
      @include preview-img(url(./assets/learn.svg), 680px, 430px);
    }

    .learnBlockContent {
      @include flexbox(space-between, start, column);
      height: 430px;
      max-width: 500px;

      h2 {
        font: 600 48px 'Dela Gothic One';
        color: $primary-black;
      }

      p {
        font: 600 18px 'Montserrat';
        color: $primary-grey-dark;
      }

      .wrapperIcons {
        display: flex;
        gap: 5%;

        .sprint {
          @include preview-img(url(./assets/img11.svg), 130px, 145px);
        }

        .tasks {
          @include preview-img(url(./assets/ing10.svg), 172px, 145px);
        }
      }
    }
  }
}

.knowledgeBlock {
  @include flexbox(space-between, start, row);
  max-width: 1200px;
  margin: 7% auto;

  .knowledgeBlockContent {
    @include flexbox(space-between, start, column);
    max-width: 470px;
    height: 330px;

    h2 {
      font: 600 48px 'Dela Gothic One';
      color: $primary-black;
    }

    p {
      font: 600 18px 'Montserrat';
      color: $primary-grey-dark;
    }

    .bookBtn {
      @include primary-button(
        14px 17px,
        100px,
        $primary-cyan-dark,
        $primary-cyan-light,
        $primary-white,
        $primary-golden-yellow
      );
    }
  }

  .knowledgeImg {
    @include preview-img(url(./assets/book.svg), 580px, 480px);
  }
}

.watchStatisticsBlock {
  width: 100%;
  background: $primary-white;

  .watchStatisticsWidth {
    @include flexbox(space-between, start, row);
    max-width: 1200px;
    margin: 0 auto;
    padding: 7% 0;

    .staticticsImg {
      @include preview-img(url(./assets/manaNDGIRL.svg), 580px, 410px);
    }

    .watchStatisticsBlockContent {
      @include flexbox(space-between, start, column);
      max-width: 470px;
      height: 410px;

      h2 {
        font: 600 48px 'Dela Gothic One';
        color: $primary-black;
      }

      p {
        font: 600 18px 'Montserrat';
        color: $primary-grey-dark;
      }

      .bookBtn {
        @include primary-button(
          14px 17px,
          100px,
          $primary-cyan-dark,
          $primary-cyan-light,
          $primary-white,
          $primary-golden-yellow
        );
      }
    }
  }
}
