@import "./styles/index.scss";

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Dela Gothic One";
  font-style: normal;
}

html {
  width: 100vw;
  overflow-x: hidden;
}

body {
  background-color: rgba(246, 245, 244, 1);
}

ol,
ul {
  list-style: none;
}

:any-link {
  text-decoration: none;
  color: $primary-black;
}

input {
  outline: none;
  border: none;
}