@import '@assets/styles';

.wrapper {
  width: 100%;

  .content {
    .lineSeparator {
      width: 100%;
      height: 1px;
      box-shadow: 0px -1px 0px 0px #e0e0e0 inset;
    }

    nav {
      @include section(2% auto, 0);
      @include flexbox(space-between, center, row);

      .navigation {
        @include flexbox(space-between, center, row);
        gap: 30px;
      }

      p {
        @include text($primary-grey-dark, 500, 1em, Montserrat);
      }

      .logoImgs {
        @include flexbox(space-between, center, row);
        gap: 10px;

        .logoGit {
          @include icon-decorator(url(./assets/git.svg), 28px, 24px, $primary-grey-light, #24292fcf);
        }

        .logoGT {
          @include icon-decorator(url(./assets/GT.svg), 28px, 24px, $primary-grey-light, #f6ad0189);
        }

        .logoYouTube {
          @include icon-decorator(url(./assets/yt.svg), 28px, 24px, $primary-grey-light, #ec1b1b9c);
        }
      }
    }
  }
}
