@import '@assets/styles';

.wrapper {
  @include section(4% auto, 0);

  .btn {
    @include text($primary-black, 700, 1em, Montserrat);
    @include text-hover($primary-golden-yellow);

    @include primary-button(14px, 4px, transparent, transparent);
    @include hover-button(transparent, transparent, 0px);
  }
}

.content {
  display: flex;
  justify-content: space-between;

  .navigation {
    width: 15%;
  }

  .contentCourses {
    width: 80%;
  }
}

.list {
  @include flexbox(center, center, row);
  flex-wrap: wrap;
  gap: 40px 4%;
  margin-top: 3%;

  a {
    max-width: 48%;
  }

  .item {
    @include flexbox(space-between, flex-start, row);
    min-height: 230px;
    border-radius: 4px;
    // background: #fafafa;
    background: hsl(193, 24%, 93%);
    // border: 1px solid #add7e3c8;
    // box-shadow: 0px 22.898128509521484px 45.79625701904297px -11.449064254760742px rgba(52, 41, 39, 0.08);

    .info {
      @include flexbox(center, flex-start, column);
      gap: 12px;
      padding: 20px 40px;

      h2 {
        @include text($primary-black, 400, 1em, Dela Gothic One);
        width: 100%;
        padding-bottom: 15px;
        border-bottom: 1px solid #e0e0e0;
      }

      p {
        @include text($primary-grey-dark, 500, 1em, Montserrat);
        word-break: break-all;
      }
    }
  }
}

.pagination {
  margin: 4% auto;
  width: max-content;
}
