@import "../../styles/index.scss";

.wrapper {
  width: 100%;
  background: #f6f5f4;

  .content {
    @include section(2% auto, 0);

    nav {
      @include flexbox(space-between, center, row);
      padding: 20px 0;

      &:first-child {
        border-bottom: 1px solid $primary-grey-light;
      }

      .navigation {
        @include flexbox(space-between, center, row);
        gap: 30px;
      }

      p {
        @include text($primary-grey-dark, 600, 14px, Montserrat);
      }

      .logoImgs {
        @include flexbox(space-between, center, row);
        gap: 10px;

        .logoGit {
          @include icon-decorator(
            url(./assets/git.svg),
            28px,
            24px,
            $primary-grey-light,
            #24292fcf
          );
        }

        .logoGT {
          @include icon-decorator(
            url(./assets/GT.svg),
            28px,
            24px,
            $primary-grey-light,
            #f6ad0189
          );
        }

        .logoYouTube {
          @include icon-decorator(
            url(./assets/yt.svg),
            28px,
            24px,
            $primary-grey-light,
            #ec1b1b9c
          );
        }
      }
    }
  }
}
