@import '../../styles/index.scss';

.wrapper {
  margin-top: 2%;
  padding: 24px 0;
  background: #f6f5f4;

  .content {
    max-width: 1200px;
    margin: 0 auto;

    nav {
      @include flexbox(space-between, center, row);
      padding: 20px 0;

      &:first-child {
        border-bottom: 1px solid $primary-grey-light;
      }

      .navigation,
      .developers {
        @include flexbox(space-between, center, row);
      }

      p {
        font: 600 12px Montserrat;
        color: $primary-grey-dark;
      }

      .navigation p:not(:last-child),
      .developers p:not(:last-child) {
        margin-right: 30px;
      }

      .logoImgs {
        @include flexbox(space-between, center, row);
        gap: 10px;

        .logoGit {
          @include icon-decorator(
            url(./assets/git.svg),
            28px,
            24px,
            $primary-grey-light,
            #24292fcf
          );
        }

        .logoGT {
          @include icon-decorator(url(./assets/GT.svg), 28px, 24px, $primary-grey-light, #f6ad0189);
        }

        .logoYouTube {
          @include icon-decorator(url(./assets/yt.svg), 28px, 24px, $primary-grey-light, #ec1b1b9c);
        }
      }
    }
  }
}
