%display-flex {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

@mixin icon-decorator ($path, $width, $height, $color, $hover-color) {
  width: $width;
  height: $height;
  -webkit-mask: $path no-repeat 50% 50%;
  mask: $path no-repeat 50% 50%;
  mask-size: cover;
  -webkit-mask-size: cover;
  background-color: $color;

  &:hover {
    background-color: $hover-color;
    cursor: pointer;
  }
}

.wrapper {
  background: #f6f5f4;
  padding: 24px 0;
  margin-top: 2%;

  .content {
    width: 1200px;
    margin: 0 auto;

    nav {
      @extend %display-flex;
      padding: 20px 0;

      &:first-child {
        border-bottom: 1px solid #b8b8b8;
      }

      .navigation,
      .developers {
        @extend %display-flex;
      }

      p {
        color: var(--primaty-grey-dark, #757575);
        font: 600 12px Montserrat;
      }

      .navigation p:not(:last-child),
      .developers p:not(:last-child) {
        margin-right: 30px;
      }

      .logoImgs {
        @extend %display-flex;
        gap: 10px;

        .logoGit {
          @include icon-decorator (url(./assets/git.svg), 28px, 24px, #bababa, #24292f);
        }

        .logoGT {
          @include icon-decorator (url(./assets/GT.svg), 28px, 24px, #bababa, #f6ab01);
        }

        .logoYouTube {
          @include icon-decorator (url(./assets/yt.svg), 28px, 24px, #bababa, #ec1b1b);
        }
      }
    }
  }
}