@import '../../styles/index.scss';

.wrapper {
  @include flexbox(space-between, center, row);
  max-width: 1200px;
  margin: 7% auto;


  .loginForm {
    @include flexbox(space-between, start, column);
    height: 300px;
    width: 600px;

    h1 {
      font: 400 56px 'Dela Gothic One';
      color: var(--primaty-black, #000);
    }

    .inps {
      display: flex;
      flex-wrap: wrap;
      gap: 20px;
    }

    input {
      width: 200px;
    }

    .btn {
      @include primary-button(14px,
        14px,
        $primary-white,
        $primary-cyan-dark,
        $primary-white,
        $primary-golden-yellow );
    }
  }

  .image {
    @include preview-img(url(./assets/imgmanwithbook.png), 310px, 320px);
  }
}