@import "@assets/styles";

.wrapper {
  @include flexbox(space-between, center, row);
  @include section(7% auto, 0);

  .loginForm {
    @include flexbox(space-between, flex-start, column);
    height: 300px;
    width: 600px;

    h1 {
      @include text($primary-black, 400, 56px, Dela Gothic One);
    }

    .inps {
      display: flex;
      flex-wrap: wrap;
      gap: 20px;
    }

    input {
      width: 200px;
    }

    .btn {
      @include primary-button(
        14px,
        14px,
        $primary-white,
        $primary-cyan-dark,
        $primary-white,
        $primary-golden-yellow
      );
    }
  }

  .image {
    @include preview-img(url(./assets/imgmanwithbook.png), 310px, 320px);
  }
}
