@import '@assets/styles';

.wrapper {
  width: 100%;
  background: $primary-white;
}

.default {
  @include flexbox(space-between, center, row);

  .content {
    @include flexbox(space-between, flex-start, column);
    max-width: 500px;
    gap: 40px;
  }

  h1 {
    @include text($primary-black, 600, 3em, Dela Gothic One);
  }

  h2 {
    @include text($primary-black, 600, 2em, Dela Gothic One);
  }

  h4 {
    @include text($primary-cyan-dark, 700, 1em, Montserrat);
  }

  p {
    @include text($primary-grey-dark, 600, 1em, Montserrat);
  }

  .btn {
    @include text($primary-cyan-dark, 700, 1em, Montserrat);
    @include text-hover($primary-golden-yellow);

    @include primary-button(14px, 4px, transparent, $primary-cyan-dark);
    @include hover-button(transparent, $primary-golden-yellow, 1px);
  }
}

.preview {
  @include section(7% auto, 0);

  .statictics {
    max-width: 175px;

    .studentsCount {
      @include flexbox(space-between, center, row);
      gap: 10px;

      .lightning {
        @include preview-img(url(./assets/lightning.svg), 24px, 30px);
      }

      p {
        @include text($primary-black, 600, 2.5em, Dela Gothic One);

        span {
          @include text($primary-cyan-dark, 600, inherit, Dela Gothic One);
        }
      }
    }

    .students {
      @include text(#585858, 600, 1em, Montserrat);
      text-align: center;
    }
  }

  .img {
    @include preview-img(url(./assets/man.png), 630px, 430px);
    position: relative;
    left: 10%;
  }
}

.learn {
  @include section(auto, 7% 0);

  .icons {
    display: flex;
    gap: 5%;

    p {
      text-align: center;
      position: relative;
      bottom: 22px;
      transition: transform 0.3s ease;

      &:hover {
        transform: scale(1.1);
        cursor: pointer;
      }
    }

    .sprint,
    .task {
      border-radius: 14px;
      height: 112px;

      div {
        position: relative;
        bottom: 25px;
      }
    }

    .sprint {
      background: #f2d4dc;
      width: 129px;

      div {
        @include preview-img(url(./assets/img11.svg), 131px, 106px);
      }

      p {
        color: #945069;
      }
    }

    .task {
      background: #c3dce3;
      width: 172px;

      div {
        @include preview-img(url(./assets/ing10.svg), 91px, 106px);
        left: 20%;
      }

      p {
        color: #2b788b;
      }
    }
  }

  .img {
    @include preview-img(url(./assets/learn.svg), 560px, 430px);
  }
}

.knowledge {
  @include section(7% auto 0, 0);
  @include flexbox(space-between, flex-start, row);

  .img {
    @include preview-img(url(./assets/book.png), 550px, 450px);
  }
}

.statistic {
  @include section(auto, 7% 0);

  .img {
    @include preview-img(url(./assets/manaNDGIRL.svg), 580px, 350px);
  }
}
