@import "../../styles/index.scss";

.wrapper {
  background: #f6f5f4;
  box-shadow: 0px -1px 0px 0px #e0e0e0 inset;

  .content {
    @include flexbox(space-between, center, row);
    @include section(auto, 2% 0);

    .options {
      @include flexbox(flex-start, center, row);
      gap: 20px;

      p {
        @include text($primary-black, 700, 16px, Montserrat);
        transition: transform 0.3s ease;

        &:hover {
          transform: scale(1.1);
          cursor: pointer;
        }
      }
    }

    .btns {
      @include flexbox(flex-start, center, row);
      gap: 20px;

      .login {
        @include text($primary-black, 700, 16px, Montserrat);
        transition: transform 0.3s ease;

        &:hover {
          transform: scale(1.1);
          cursor: pointer;
        }
      }

    }

    .sign {
      @include primary-button(14px,
        14px,
        $primary-white,
        $primary-cyan-dark,
        $primary-white,
        $primary-golden-yellow );
    }
  }
}