@import '../../styles/index.scss';

.wrapper {
  background: var(--primary-grey-light, #f6f5f4);
  box-shadow: 0px -1px 0px 0px #e0e0e0 inset;
  padding: 24px 0;

  .content {
    width: 1200px;
    @extend %display-flex;
    margin: 0 auto;
  }

  nav {
    @extend %display-flex;
    width: 200px;

    .login {
      color: $primary-black;
      font: 700 16px "Montserrat";
      transition: transform 0.3s ease;

      &:hover {
        transform: scale(1.1);
      }
    }

    .sign {
      border-radius: 14.188px;
      background: $primary-cyan-dark;
      width: 106px;
      text-align: center;
      padding: 13px 0;
      color: $primary-white;
      transition: background 0.3s ease, color 0.3s ease;

      &:hover {
        background: $primary-golden-yellow;
      }
    }
  }
}