@import './variables.scss';

@mixin icon-decorator($path, $width, $height, $color, $hover-color) {
  width: $width;
  height: $height;
  -webkit-mask: $path no-repeat 50% 50%;
  mask: $path no-repeat 50% 50%;
  mask-size: cover;
  -webkit-mask-size: cover;
  background-color: $color;

  &:hover {
    background-color: $hover-color;
    cursor: pointer;
  }
}

@mixin preview-img($path, $width, $height) {
  width: $width;
  height: $height;
  background-size: contain;
  background-image: $path ;
  background-repeat: no-repeat;
}

@mixin flexbox($horizontal, $vertical, $direction) {
  display: flex;
  justify-content: $horizontal;
  align-items: $vertical;
  flex-direction: $direction;
}

@mixin primary-button($width, $paddingSize,  $radius, $defaultColor, $defaultBckgColor, $hoverColor, $hoverBckgColor) {
  width: $width;
  padding: $paddingSize;
  border-radius: $radius;
  text-align: center;
  color: $defaultColor;
  background: $defaultBckgColor;
  transition:
    background 0.3s ease,
    color 0.3s ease;

  &:hover {
    background: $hoverBckgColor;
    color: $hoverColor;
  }
}
